.dropdown:hover .dropdown-menu {
  display: block;
}

.navbar-nav > li > .dropdown-menu {
  background-color: black;
}

.dropdown-menu > li > a {
	color: dimgray;
}

.dropdown-menu > li > a:hover {
	color: white;
	background-color: dimgray;
	background-image: none;
}

.dropdown-menu .divider {
	background-color: dimgray;
}