.dropdown:hover .dropdown-menu {
  display: block;
}

.navbar-nav > li > .dropdown-menu.nav-dropdown {
  background-color: black;
}

.dropdown-menu.nav-dropdown > li > a {
	color: dimgray;
}

.dropdown-menu.nav-dropdown > li > a:hover {
	color: white;
	background-color: dimgray;
	background-image: none;
}

.dropdown-menu.nav-dropdown .divider {
	background-color: dimgray;
}